.side-body
{
    font-size: 12px !important;
    /*font-family: Tahoma;*/
}

.btn
{
    border-radius: 3px;
    margin-top: 0;
    margin-bottom: 0;
}

td, th
{
  vertical-align: middle !important;
}

.nowrap td, .nowrap th
{
  white-space: nowrap;
}

th
{
  text-align: center;
}

.btn-space
{
  margin-left: 2px;
  margin-right: 2px;
}

.text-center
{
  text-align: center;
}

.custom-badge div
{
  margin-top: 5px;
  margin-bottom: 5px;
}

td input.form-control {
  width: auto;
}

@media (min-width:1170px) {
    .app-container .content-container .side-menu {
        width: 250px;
    }

    .app-container .content-container .side-menu .navbar-header .navbar-brand .title {
        display: inline-block;
    }

    .app-container .content-container .side-menu .navbar-nav li a .title {
        display: inline-block;
    }

    #codeigniter_profiler {
        margin-left: 250px;
    }


    .app-container .content-container .side-menu .navbar-nav li.dropdown>a:after, .app-container.expanded .content-container .side-menu .navbar-nav li.dropdown>a:after {
        font-family: FontAwesome;
        content: "\f107";
        position: absolute;
        right: 1em;
    }

    .side-body {
        margin-left: 260px !important;
    }

    .app-container .content-container .navbar-top {
        padding-left: 250px;
    }
}